@font-face {
  font-family: "ccnFlaticon";
  src: url(https://www.tourguidetraining.ae/theme/edumy/fonts/ccn-flaticon/CcnFlaticon.eot);
  src: url("../fonts/CcnFlaticon.woff");
  font-weight: 400;
  font-style: normal;
}

[class^="ccn-flaticon-"]:before,
[class*=" ccn-flaticon-"]:before,
[class^="ccn-flaticon-"]:after,
[class*=" ccn-flaticon-"]:after {
  font-family: ccnFlaticon;
  font-style: normal;
}

.ccn-flaticon-user:before {
  content: "\f25b";
}

.ccn-flaticon-login:before {
  content: "\f1b3";
}

._menu {
  display: flex;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  width: 80vw;
  height: 100%;
  background-color: #0a0a0a;
  color: #fff;
  overflow-x: hidden;
}

._menu-item {
  flex-shrink: 0;
  width: 80vw;
  background-color: #0a0a0a;
}

._arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
}

._arrow {
  height: 16px;
  object-fit: contain;
}

._menu-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #545454;
  background-color: #2d2d2d;
  height: 60px;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

._menu-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 5px;
  width: 44px;
  height: 100%;
}

._menu-back img {
  width: 9px;
  object-fit: contain;
}

._menu-title {
  position: relative;
  top: 2px;
}

._menu-list {
  margin: 10px 0;
}

._menu-list-item {
  position: relative;
  height: 45px;
  border-bottom: 1px solid #2d2d2d;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

._menu-list-item a {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 10px;
  color: #FFF;
  flex-basis: 10%;
  text-decoration: none;
}


._sub-menu,
._parent-menu {
  transition: all .4s;
}

._sub-menu._show {
  transform: translateX(-100%);
}

._parent-menu._hidden {
  transform: translateX(-30%);
}